<script type="text/javascript">
    var pusher = new Pusher('5202b0c7334e2375c8ab');
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
    // alert(data.message);
    document.getElementsByTagName('LABEL')[0].innerHTML = data.message;
    document.getElementsByTagName('LABEL')[1].innerHTML = data.message2;
    });
  </script>
<center>



<center>

<%if !session[:msisdn].nil?%>
<%#=session[:msisdn]%> <br>
<%#=session[:token]%>
<form class="pure-form">
	Number:<br>
    <input type="text" placeholder=<%=session[:msisdn]%> disabled style='width:110px'><br>
    <%=link_to 'change number', oauth, :class => 'pure-button'%>
</form>


<div class="pure-g">
    <div class="pure-u-1-5"><p>SMS API</p>
	    <%= form_tag 'sms', method: :post, class: "pure-form pure-form-stacked" do %>
	        <%= text_area_tag :message, '', placeholder:"Input Message Here", size:"20x6" ,autofocus: true%>
	        <%= submit_tag "Send", class: "pure-button"%>
	    <%end%>
    </div>
    <div class="pure-u-1-5"><p>Charging API</p>
    	<%= form_tag 'charge', method: :post, class: "pure-form pure-form-stacked" do %>
			   <%= radio_button_tag 'amount', '0.00', class: "pure-radio" %> 0.00 <br>
			   <%= radio_button_tag 'amount', '1.00', class: "pure-radio" %> 1.00 <br><br>
	        <%= submit_tag "Charge", class: "pure-button"%>
	    <%end%>
    </div>
    
    <div class="pure-u-1-5"><p>LBS</p>
    	<%= form_tag 'lbs', method: :post, class: "pure-form pure-form-stacked" do %>
    		 <%= submit_tag "Track", class: "pure-button"%>
    	<%end%>
    </div>
    
    <div class="pure-u-1-5"><p>Subscriber Data Query</p>
    	<%= form_tag 'raven', method: :post, class: "pure-form pure-form-stacked" do %>
			   <!-- <%#= radio_button_tag 'raven', 'nf_promo', class: "pure-radio" %> NF Promo <br> -->
			   <%= radio_button_tag 'raven', 'mobile_internet_promo', class: "pure-radio" %>Internet Promo<br>
			   <%= radio_button_tag 'raven', 'balance', class: "pure-radio" %> Balance <br><br>
	        <%= submit_tag "Submit", class: "pure-button"%>
	    <%end%>
    </div>

     <div class="pure-u-1-5"><p>SMS MO</p>
    	<%=label_tag 'msisdn', ''%> <%=label_tag 'message', ''%>
    </div>

</div>


<%else%>
<br><br>
<%=link_to 'register', oauth, :class => 'pure-button'%>
<%end%>
